table {
	border-spacing: 0;
}

tr,
td {
	padding: 0;
}

.field {
  box-sizing: border-box;

	width: 16px;
	height: 16px;

	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;

	background: #bdbdbd;
	border: 2px outset #e8e8e8;
}

.open {
	border: 1px solid #989898;
}

.mark {
	background: green;
}

.bomb {
	background: red;
}